//----------------------------------------------_Обнуление-----------------------------------------------
@use "sass:math";
@import "null-style.scss";
//----------------------------------------------_Шрифты----------------------------------------------
@import "fonts.scss";
//----------------------------------------------_Переменные-----------------------------------------
$maxWidth: 1440;
$maxWidthContainer: 1400;
$violet: #6a66ca;

//----------------------------------------------_Шаблоны------------------------------------------
@function prc($pxOne, $pxTwo) {
	$result: math.div($pxOne, $pxTwo) * 100%;
	@return $result;
}
@function rem($px) {
	$result: math.div($px, 16) + rem;
	@return $result;
}
@function em($px) {
	$result: math.div($px, 16) + em;
	@return $result;
}
//----------------------------------------------_Миксины----------------------------------------------
@mixin adaptiv-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;
	@if $type==1 {
		//Только если меньше контейнера
		#{$property}: $startSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else if $type==2 {
		//Только если больше контейнера
		#{$property}: $starSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	} @else {
		//Всегда
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}

//----------------------------------------------_Настройки-------------------------------------------
html {
}
body {
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #6a66ca;
		opacity: 0.7;
		border-radius: 8px;
		&:hover {
			background-color: #6a66ca;
			cursor: pointer;
		}
	}
	&::-webkit-scrollbar-track {
		background: #ccc;
	}
	::-webkit-scrollbar {
		display: none;
	}
	height: 100%;
	&._popup {
		&::before {
			content: "";
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
	}
	&.sidebar-open {
		overflow: hidden;
	}
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	font-family: Overpass;
	background-color: #fff;
	color: #454545;
}

.dark-theme {
	.wrapper {
		background-color: #000;
		color: #dcdcdc;
	}
}
main {
	flex: 1 1 auto;
}
.container {
	width: min(100% - 1rem, 1400px);
	margin-inline: auto;
}
//----------------------------------------------ПОПАПЫ и СВИТЧИ----------------------------------------------

/* Стили для переключателя темы*/
.toggle-theme {
	height: 100%;
	@media (max-width: 800px) {
		& {
			position: relative;
			z-index: 2;
		}
	}
}
.switch-theme {
	position: relative;
	display: inline-block;
	width: 58px;
	height: 32px;
	margin-left: 20px;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
	@media (max-width: 800px) {
		& {
			margin-left: 8px;
		}
	}
	input {
		display: none;
	}
	input:checked + .slider-theme {
		background: rgba(58, 58, 58, 0.5);
	}
	input:checked + .slider-theme:before {
		transform: translateX(26px);
	}
}
.slider-theme {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(59, 69, 78, 0.3);
	transition: 0.4s;
	border-radius: 34px;
	&.left {
		&:before {
			content: "";
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			height: 24px;
			width: 24px;
			left: 4px;
			bottom: 4px;
			background: url("../images/icons/sun.svg") center / 90% 90% no-repeat;
			background-color: #fff;
			transition: 0.4s;
			border-radius: 50%;
		}
	}
	&.right {
		&:before {
			content: "";
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			height: 24px;
			width: 24px;
			left: 4px;
			bottom: 4px;
			background: url("../images/icons/night.svg") center / 70% 70% no-repeat;
			background-color: #000;
			transition: 0.4s;
			border-radius: 50%;
		}
	}
}

/* Стили для переключателя языка*/
.toggle-languages {
	height: 100%;
	@media (max-width: 800px) {
		& {
			position: relative;
			z-index: 2;
		}
	}
}
.switch-languages {
	position: relative;
	display: inline-block;
	width: 57px;
	height: 32px;
	margin-left: 20px;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
	@media (max-width: 800px) {
		& {
			margin-left: 8px;
		}
	}
	input {
		display: none;
	}
	input:checked + .slider-languages {
		background-color: $violet;
	}
	input:checked + .slider-languages:before {
		transform: translateX(25px);
	}
}
.slider-languages {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $violet;
	transition: 0.4s;
	border-radius: 34px;
	&.left {
		&:before {
			content: "RU";
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			height: 28px;
			width: 28px;
			left: 2px;
			bottom: 2px;
			background-color: #fff;
			transition: 0.4s;
			border-radius: 50%;
			font-size: 11px;
			font-weight: 700;
			color: $violet;
			line-height: 0;
		}
		&::after {
			content: "EN";
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			height: 28px;
			width: 28px;
			right: 2px;
			bottom: 2px;
			font-size: 11px;
			font-weight: 700;
			color: #fff;
			line-height: 0;
		}
	}
	&.right {
		&:before {
			content: "EN";
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			height: 28px;
			width: 28px;
			left: 2px;
			bottom: 2px;
			background-color: white;
			font-size: 11px;
			font-weight: 700;
			color: $violet;
			line-height: 0;
			transition: 0.4s;
			border-radius: 50%;
		}

		&::after {
			content: "RU";
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			height: 28px;
			width: 28px;
			left: 2px;
			bottom: 2px;
			font-size: 11px;
			font-weight: 700;
			color: #fff;
			line-height: 0;
		}
	}
}
.support__popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	max-height: 0px;
	display: flex;
	justify-content: center;
	overflow-y: auto;
	z-index: 99;
	padding: 40px 0;
	transition: all 0.3s ease 0s;
	background-color: rgba(0, 0, 0, 0.9);
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	&.show {
		max-height: 100vh;
		opacity: 1;
		pointer-events: all;
		visibility: visible;
	}
	@media (max-width: 1000px) {
		& {
			padding: 178px 40px 100px;
		}
	}
	form {
		max-width: 800px;
		height: auto;
		background-color: #232323;
		color: #9f9f9f;
		padding: 60px 40px 40px;
		overflow: auto;
		position: relative;
		scrollbar-gutter: stable;
		&::-webkit-scrollbar {
			width: 8px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #6a66ca;
			opacity: 0.7;
			border-radius: 8px;
			&:hover {
				background-color: #6a66ca;
				cursor: pointer;
			}
		}
		&::-webkit-scrollbar-track {
			background: #333;
		}
		::-webkit-scrollbar {
			display: none;
		}
		.close-popup {
			position: absolute;
			top: 20px;
			right: 20px;
			cursor: pointer;
			transition: all 0.3s ease 0s;
			&:hover {
				transform: translateY(-4px) rotate(180deg);
			}
		}
	}
	label,
	input,
	select,
	textarea {
		margin-bottom: 10px;
		@include adaptiv-value("font-size", 16, 13, 1);
	}
	input[type="text"],
	input[type="email"],
	select,
	textarea {
		width: 100%;
		padding: 10px 8px 8px;
		border-radius: 4px;
		border-bottom: 2px solid transparent;
		transition: all 0.3s ease 0s;
		font-family: Overpass;
	}
	input:focus,
	textarea:focus {
		border-bottom: 2px solid $violet;
	}
	textarea {
		resize: none;
	}
	input[type="submit"],
	button {
		background-color: $violet;
		color: white;
		padding: 10px 20px;
		cursor: pointer;
		@include adaptiv-value("font-size", 16, 13, 1);
	}
	button {
		background-color: rgb(214, 54, 54);
		&:hover {
			background-color: rgb(169, 34, 34);
		}
	}
	input[type="submit"]:hover {
		background-color: #514db6;
	}
	ul.gender-list {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.form-btns {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
	}

	ul.gender-list li {
		display: inline-block;
		margin-right: 10px;
		cursor: pointer;
	}

	ul.gender-list li label {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 7px;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 2px solid #ccc;
		line-height: 30px;
		text-align: center;
		cursor: pointer;
		font-size: 12px;
		font-weight: 400;
		transition: all 0.3s ease 0s;
		&:hover {
			border-color: #009e66;
			color: #009e66;
		}
	}

	ul.gender-list li input[type="radio"] {
		display: none;
	}

	ul.gender-list li input[type="radio"]:checked + label {
		border-color: #009e66;
		color: #009e66;
	}
}

.dark-theme {
	.support__popup {
		form {
			background-color: #232323;
			color: #9f9f9f;
		}
		input:focus,
		textarea:focus {
			border-bottom: 2px solid $violet;
		}
		input[type="submit"],
		button {
			background-color: $violet;
		}
		button {
			background-color: rgb(214, 54, 54);
			&:hover {
				background-color: rgb(169, 34, 34);
			}
		}

		input[type="submit"]:hover {
			background-color: #514db6;
		}

		ul.gender-list li label {
			border: 2px solid #ccc;
			&:hover {
				border-color: #009e66;
				color: #009e66;
			}
		}

		ul.gender-list li input[type="radio"]:checked + label {
			border-color: #009e66;
			color: #009e66;
		}
	}
}
/*--------------------------------------------HEADER---------------------------------------------*/
.header {
	background-color: #fff;
	box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
	background: rgb(255, 255, 255);
	position: fixed;
	z-index: 2;
	width: 100%;
	&__body {
		padding: 25px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		@media (max-width: 800px) {
			& {
				flex-direction: column;
				align-items: flex-end;
				gap: 40px;
				padding: 25px 0;
			}
		}
	}
	&__logo {
		flex: 0 1 170px;
		a {
			color: $violet;
			transition: all 0.3s ease 0s;
			display: flex;
			align-items: center;
			font-size: 16px;
			font-weight: 900;
			line-height: 20px;
			white-space: nowrap;
			gap: 6px;
			&:hover {
				color: #4946aa;
			}
			img {
				width: 28px;
				height: 28px;
			}
		}
		@media (max-width: 800px) {
			& {
				flex: 1 1 100%;
				margin: 0 auto;

				a {
					font-size: 36px;
				}
				svg {
					width: 50px;
					height: 50px;
				}
			}
		}
		@media (max-width: 420px) {
			& a {
				font-size: 30px;
			}
		}
	}

	&__switches {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 33px;
		@media (max-width: 600px) {
			& {
				gap: 20px;
			}
		}
	}
	&__support-button {
		button {
			color: rgb(122, 122, 122);
			font-size: 16px;
			font-weight: 600;
			line-height: 24px;
			background: none;
			transition: color 0.3s ease 0s;
			&:hover {
				color: $violet;
			}
		}
		@media (max-width: 600px) {
			& {
				order: 0;
			}
		}
	}
	&__switch {
		@media (max-width: 600px) {
			& {
				order: 1;
			}
		}
	}
	.sidebar-menu-button {
		position: absolute;
		bottom: 25px;
		left: 25px;
		width: 40px;
		height: 44px;
		@media (max-width: 600px) {
			& {
				left: 5px;
			}
		}
	}
	.menu__icon {
		display: none;
		will-change: transform;
		@media (max-width: 800px) {
			& {
				display: block;
				width: 40px;
				height: 50px;
				position: relative;
				z-index: 2;
				&::before,
				&::after,
				& span {
					height: 4px;
					position: absolute;
					left: 0;
					background-color: #555;
					border-radius: 2px;
					transition: all 0.3s ease 0s;
					width: 100%;
				}
				&::before,
				&::after {
					content: "";
				}
				&::before {
					top: 10px;
				}
				&::after {
					bottom: 10px;
				}
				& span {
					top: 23px;
				}
			}
			&.active {
				border-radius: 6px;
				&::before {
					top: 23px;
					transform: rotate(45deg);
					background-color: $violet;
				}
				&::after {
					top: 23px;
					transform: rotate(-45deg);
					background-color: $violet;
				}
				& span {
					display: none;
				}
			}
		}
	}
}
.dark-theme {
	.header {
		background: rgb(36, 36, 36);
	}
	.header__logo {
		a {
			color: #fff;
		}
		.path-white {
			fill: #fff;
		}
		.path-black {
			fill: $violet;
		}
	}

	.menu__icon {
		@media (max-width: 800px) {
			&::before,
			&::after,
			& span {
				background-color: $violet;
			}
		}
	}
}
.open-search-button {
	display: none;
	button {
		background: none;

		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
		-webkit-tap-highlight-color: transparent;
		&:active {
			svg {
				fill: $violet;
				transform: scale(1.1);
			}
		}
	}
	svg {
		width: 20px;
		height: 20px;
		fill: #7b7b7b;
		transition: all 0.3s ease 0s;
	}
	@media (max-width: 800px) {
		& {
			display: block;
		}
	}
}
.header__search {
	@media (max-width: 800px) {
		& {
			position: absolute;
			top: 99%;
			left: -2%;
			width: 105%;
			padding-bottom: 15px;
			max-height: 0;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transition: all 0.3s ease 0s;
			text-align: center;
			background-color: #fff;
			&.show {
				opacity: 1;
				visibility: visible;
				pointer-events: all;
				max-height: 60px;
			}
		}
	}
}
.search__form {
	display: flex;
	align-items: center;
	width: 300px;
	border: 1px solid #e7e5e5;
	border-radius: 20px;
	overflow: hidden;
	transition: all 0.3s ease 0s;
	&:focus-within {
		border: 1px solid $violet;
	}
	@media (max-width: 800px) {
		& {
			margin: 0 auto;
		}
	}
}

.search__input {
	flex: 1;
	border: none;
	outline: none;
	padding: 8px 15px;
	font-family: Overpass;
}

.search__btn {
	background-color: transparent;
	color: #fff;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	svg {
		fill: #7b7b7b;
		transition: all 0.3s ease 0s;
	}
	&:hover {
		svg {
			fill: $violet;
			transform: scale(1.1);
		}
	}
}
.dark-theme {
	.header__search {
		@media (max-width: 800px) {
			& {
				background-color: #242424;
			}
		}
	}
	.search__form {
		border: 1px solid #7b7b7b;
	}
	.search__input {
		background-color: #242424;
		color: #fff;
	}
}
/*--------------------------------------------LEFT SIDEBAR---------------------------------------------*/
.sidebar {
	padding: 138px 20px 50px 20px;
	flex: 0 1 300px;
	position: fixed;
	left: 0;
	width: 23vw;
	height: 100%;
	max-width: 400px;
	min-width: 240px;
	overflow: auto;
	border-right: 1px solid rgb(223, 223, 223);
	scrollbar-gutter: stable;
	transition: all 0.3s ease 0s;
	@media (max-width: 800px) {
		& {
			z-index: 1;
			padding: 220px 15px 50px 15px;
			width: 60vw;
			transform: translateX(-100%);
			background-color: #fff;
			&.open {
				transform: translateX(0%);
			}
		}
	}
	@media (max-width: 600px) {
		& {
			width: 60vw;
		}
	}
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #6a66ca;
		opacity: 0.7;
		border-radius: 8px;
		&:hover {
			background-color: #6a66ca;
			cursor: pointer;
		}
	}
	&::-webkit-scrollbar-track {
		background: #ccc;
	}
	::-webkit-scrollbar {
		display: none;
	}
	&__menu {
	}
	.menu__item {
		margin-bottom: 25px;
	}
	&__list {
		display: flex;
		flex-direction: column;
		li {
		}
	}

	&__list-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
		padding: 5px 8px;
		position: relative;
		&:hover {
		}
		button {
			background: none;
			width: 26px;
			height: 26px;
			&:hover {
				svg {
					fill: $violet;
				}
			}
			svg {
				width: 18px;
				height: 18px;
				fill: #565656;
			}
		}
	}
	&__list-title {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
	}
	&__list-title-icon {
		flex: 0 1 30px;
		width: 30px;
		height: 30px;
	}
	&__list-title-icon img {
		object-fit: contain;
		width: 100%;
		height: 100%;
	}
	&__list-title-name {
		font-size: 16px;
		font-weight: 700;
		a {
			color: #353535;
			transition: all 0.3s ease 0s;
			&:hover {
				color: $violet;
			}
		}
	}
	.sidebar-arrow {
		transition: all 0.3s ease 0s;
		&.active {
			transform: rotate(90deg);
			svg {
				fill: $violet;
			}
		}
		&.empty {
			display: none;
		}
	}
	&__submenu {
		padding-left: 40px;
		transform: translateY(-10px);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.3s ease 0s;
		max-height: 0;
		@media (max-width: 800px) {
			& {
				padding-left: 0;
			}
		}
		li {
			margin: 5px 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		&.show {
			transform: translateY(0);
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			max-height: 500px;

			margin-bottom: 30px;
		}
	}
	&__sublink {
		font-size: 13px;
		color: #464646;
		padding: 5px;
		&:hover {
			color: $violet;
		}
	}
	&__link {
		display: flex;
		align-items: center;
		gap: 15px;
		color: rgb(70, 70, 70);
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		transition: all 0.3s ease 0s;
		&:hover {
			color: $violet;
		}
		@media (max-width: 800px) {
			& {
				font-size: 16px;
			}
		}
	}
	&__icon {
	}
}

.dark-theme {
	.sidebar {
		border-right: 1px solid #565656;
		@media (max-width: 800px) {
			& {
				background-color: #333;
			}
		}
		&::-webkit-scrollbar {
			width: 8px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #6a66ca;
			opacity: 0.7;
			border-radius: 8px;
			&:hover {
				background-color: #6a66ca;
				cursor: pointer;
			}
		}
		&::-webkit-scrollbar-track {
			background: #333;
		}
		::-webkit-scrollbar {
			display: none;
		}
		&__menu {
		}
		&__list {
		}
		&__link {
			font-weight: 400;
			color: #fff;
			&:hover {
				color: $violet;
			}
		}

		&__list-title-name a {
			color: #dcdcdc;
			&:hover {
				color: $violet;
			}
		}
		.sidebar-arrow {
			transition: all 0.3s ease 0s;
			svg {
				fill: $violet;
			}
			&.active {
				transform: rotate(90deg);
			}
		}
		&__sublink {
			color: #9f9f9f;
			&:hover {
				color: $violet;
			}
		}
	}
}
/*--------------------------------------------ARTICLE---------------------------------------------*/
.main {
	height: 100%;
	position: relative;
	&__body {
		display: flex;
		height: 100%;
	}
	article {
		flex: 1 1 auto;
		padding-top: 115px;
		padding-left: calc(23vw + 60px);
		padding-right: 20vw;
		@media (min-width: 1441px) {
			& {
				padding-left: 400px;
			}
		}
		@media (min-width: 1550px) {
			& {
				padding-right: 200px;
			}
		}
		@media (min-width: 1701px) {
			& {
				padding-left: 280px;
			}
		}
		@media (max-width: 1100px) {
			& {
				@include adaptiv-value("padding-right", 60, 20, 1);
			}
		}
		@media (max-width: 800px) {
			& {
				@include adaptiv-value("padding-left", 60, 20, 1);
				padding-top: 200px;
			}
		}
	}
}
.answer {
	flex: 1 1 auto;
	padding: 25px 60px 60px 60px;

	@media (max-width: 1100px) {
		& {
			display: flex;
			flex-direction: column-reverse;
			justify-content: flex-start;
			gap: 30px;
		}
	}
	&__container {
	}
	&__image {
		margin-bottom: 25px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			max-height: 240px;
		}
	}
	&__title {
		margin-bottom: 10px;
		h1 {
			color: rgb(65, 65, 65);
			font-size: 32px;
			font-weight: 700;
			line-height: 41px;
		}
	}
	&__author-and-date {
		margin-bottom: 25px;
		display: flex;
		align-items: center;
		gap: 30px;
		color: rgb(125, 125, 125);
		font-size: 13px;
		font-weight: 300;
		line-height: rem(25);
	}
	&__author {
	}
	&__date {
	}
	&__details {
		padding: auto;
		margin: auto;
		color: rgb(53, 53, 53);
		font-family: Overpass;
		@include adaptiv-value("font-size", 16, 14, 1);
		font-weight: 300;
		line-height: 25px;
		ul,
		ol {
			padding-left: 10px;
		}
		ul li {
			list-style: disc inside;
			&::marker {
				color: $violet;
			}
		}
		ol li {
			list-style: auto;
		}
		img,
		picture,
		iframe {
			max-width: 100%;
		}
	}
	&__links {
		margin-top: 50px;
		display: flex;
		justify-content: center;
		gap: 30px;
		@media (max-width: 600px) {
			& {
				flex-direction: column;
			}
		}
	}
	&__link {
		flex: 0 1 50%;
		color: #353535;
		border: 1px solid rgb(223, 223, 223);
		padding: 10px 15px;
		max-width: 333px;
		@media (max-width: 600px) {
			& {
				max-width: 100%;
			}
		}
	}
	&__link a {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		&:hover {
			.answer__link-name span:last-child {
				color: $violet;
			}
		}
	}
	&__link-name {
		display: flex;
		flex-direction: column;
		span:first-child {
			color: #656973;
			font-size: 12px;
		}
		span:last-child {
			color: #353535;
			font-size: 16px;
		}
	}
	&__link-arrow {
		display: inline;
		color: $violet;
		font-size: 26px !important;
	}
	.prev-link a {
		flex-direction: row-reverse;
		text-align: right;
		.answer__link-name {
			text-align: right;
		}
	}
	.prev-link .answer__link-arrow {
		transform: rotate(180deg);
	}
}

.navigation {
	position: fixed;
	right: 25px;
	max-width: 200px;
	padding: 138px 20px 50px 20px;
	@media (max-width: 1100px) {
		& {
			position: static;
			padding: 0 30px;
			max-width: 80vw;
		}
	}
	&__title {
		color: rgb(101, 105, 115);
		font-size: 12px;
		font-weight: 700;
		line-height: 18px;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		margin-bottom: 12px;
		display: flex;
		align-items: center;
		gap: 6px;
		svg {
			display: none;
			width: 14px;
			height: 14px;
			transition: all 0.3s ease 0s;
			transform: translateY(-1px);
			@media (max-width: 1100px) {
				& {
					display: block;
				}
			}
			&.rotate {
				transform: translateY(-1px) rotate(180deg);
			}
		}
	}
	&__list {
		@media (max-width: 1100px) {
			& {
				height: auto;
				max-height: 0;
				opacity: 0;
				pointer-events: none;
				visibility: hidden;
				transition: all 0.3s ease 0s;
				&.active {
					max-height: 500px;
					opacity: 1;
					pointer-events: all;
					visibility: visible;
				}
			}
		}
	}
	li {
		margin-bottom: 8px;
		width: 175px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		@media (max-width: 1100px) {
			& {
				width: 100%;
			}
		}
	}
	&__link {
		color: rgb(92, 105, 117);
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
		transition: all 0.3s ease 0s;
		padding-left: 10px;
		&:hover {
			color: $violet;
		}
		&.active {
			color: $violet;
			border-left: 2px solid $violet;
			font-weight: 700;
		}
	}
}
.dark-theme {
	.navigation {
		&__title {
			color: #d3d3d3;
		}
		&__link {
			color: #e3e3e3;
			&:hover {
				color: $violet;
			}
			&.active {
				color: $violet;
			}
		}
	}
	.answer {
		&__title {
			h1 {
				color: #fff;
			}
		}
		&__author-and-date {
			color: #7d7d7d;
		}
		&__details {
			color: #dcdcdc;
		}

		&__link {
			border: 1px solid #565656;
		}
		&__link-name {
			span:first-child {
				color: #656973;
			}
			span:last-child {
				color: #dcdcdc;
			}
		}
	}
}

/*--------------------------------------------РЕЗУЛЬТАТЫ ПОИСКА---------------------------------------------*/
.results {
	@media (min-width: 801px) {
		& {
			padding: 120px 30px 30px 25vw;
		}
	}
	@media (max-width: 800px) {
		& {
			padding: 218px 30px 30px 30px;
		}
	}
	@media (max-width: 520px) {
		& {
			padding: 218px 15px 30px 15px;
		}
	}
	&__title {
		@include adaptiv-value("font-size", 26, 18, 1);
		color: #7b7b7b;
		margin-bottom: 30px;
	}
	&__items {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
	&__item {
		padding: 10px 15px;
		&:hover {
			.results__item-arrow {
				svg {
					transform: scale(1);
				}
			}
			h2 {
				color: $violet;
			}
		}
		p {
			font-size: 16px;
			color: #353535;
			max-height: 80px;
			overflow-y: hidden;
		}
	}
	&__item-arrow {
		overflow: hidden;
		transition: all 0.3s ease 0s;
		svg {
			transform: scale(0);
			transform-origin: left;
			transition: all 0.3s ease 0s;
			fill: $violet;
			width: 60px;
			height: 30px;
			@media (max-width: 800px) {
				& {
					transform: scale(1);
				}
			}
		}
	}
	&__item-name {
		display: flex;
		align-items: center;
		gap: 6px;
		margin-bottom: 10px;
		h2 {
			@include adaptiv-value("font-size", 22, 18, 1);
			color: #414141;
		}
		img {
			flex: 0 1 20px;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
.dark-theme {
	.results {
		&__title {
			color: #7b7b7b;
		}
		&__item {
			&:hover {
				h2 {
					color: $violet;
				}
			}
			p {
				color: #dcdcdc;
			}
		}
		&__item-name {
			h2 {
				@include adaptiv-value("font-size", 22, 18, 1);
				color: #fff;
			}
		}
	}
}
/*--------------------------------------------FOOTER---------------------------------------------*/
.footer {
	background-color: rgb(250, 250, 250);
	position: relative;
	z-index: 1;
	@media (max-width: 800px) {
		& {
			z-index: 0;
		}
	}
	&__body {
		padding: 42px 35px;
		text-align: center;
		p {
			font-size: 14px;
			font-weight: 400;
			line-height: 18px;
			letter-spacing: 0%;
			text-align: center;
			color: rgb(146, 146, 146);
		}
		span {
			color: rgb(69, 69, 69);
		}
	}
}
.dark-theme {
	.footer {
		background-color: #171717;
		&__body {
			p {
				color: #7b7b7b;
			}
			span {
				color: #929292;
			}
		}
	}
}

.chapter {
	width: 100%;
	height: 100%;
	@media (min-width: 801px) {
		& {
			padding: 120px 30px 30px 25vw;
		}
	}
	@media (max-width: 800px) {
		& {
			padding: 218px 30px 30px 30px;
		}
	}
	@media (max-width: 520px) {
		& {
			padding: 218px 15px 30px 15px;
		}
	}
	&__title {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-bottom: 40px;
	}
	&__title-icon {
		width: 30px;
		height: 30px;
		flex: 0 1 30px;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__title-name {
		@include adaptiv-value("font-size", 36, 26, 1);
		font-weight: 700;
	}
	&__items {
		max-width: 680px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
		@media (max-width: 600px) {
			& {
				grid-template-columns: 1fr;
			}
		}
	}
	&__item {
		max-width: 333px;
		border: 1px solid rgb(223, 223, 223);
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 15px 20px;
		transition: all 0.3s ease 0s;
		&:hover {
			border: 1px solid $violet;
		}
	}
	&__icon {
		width: 20px;
		height: 20px;
		flex: 0 1 20px;
	}
	&__name {
		color: #464646;
	}
	.answer__links {
		justify-content: flex-start;
		gap: 10px;
		max-width: 680px;
	}

	.answer__link-arrow {
		display: inline;
		color: $violet;
		font-size: 26px !important;
	}
	.prev-link a {
		flex-direction: row-reverse;
		text-align: right;
		.answer__link-name {
			text-align: right;
		}
	}
	.prev-link .answer__link-arrow {
		transform: rotate(180deg);
	}
}
.dark-theme {
	.chapter {
		&__title {
		}
		&__title-name {
		}
		&__item {
			border: 1px solid rgb(223, 223, 223);
			&:hover {
				border: 1px solid $violet;
				.chapter__name {
					transition: all 0.3s ease 0s;
					color: $violet;
				}
			}
		}
		&__name {
			color: #fff;
		}
	}
}
